@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply dark:bg-gray-900 dark:text-gray-100;
}

body {
    background: var(--BG-Gradient, linear-gradient(180deg, #0A0D1B 0%, #181D2C 90.25%));
}