@tailwind base;
@tailwind components;
@tailwind utilities;


/* Inter Font */
@font-face {
    font-family: 'Inter-Regular';
    src: url('/src/assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('/src/assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('/src/assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    @apply dark:bg-gray-900 dark:text-gray-100;
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: var(--BG-Gradient, linear-gradient(180deg, #0A0D1B 0%, #181D2C 90.25%));
}

/* ============ HERO BANNER SECTION ============= */

.last-section{
    background-image: url(/images/content/bible.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: auto;
    height: 600px;
}

.content-herobanner {
    width: min-content;
}

.img-cta img{
    width: 200px;
    max-width: 100%;
}

.img-pray img{
    width: 100%;
    /* max-width: 100%; */
}


#hero-banner {
    padding-top: 5rem !important;
}

.main-title{
    width: 500px;

}


.very-soon{
    filter: opacity(0.25);
    cursor: wait;
}

@media (max-width: 768px) {
    #hero-banner {
        padding-top: 7rem !important;
    }
    .main-title {
        width: 300px;
    }

    .content-herobanner {
        width: fit-content;
    }
}

nav#mobile-menu {
    height: 100vh;
}
