@tailwind base;
@tailwind components;
@tailwind utilities;


/* Inter Font */
@font-face {
    font-family: 'Inter-Regular';
    src: url('/src/assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('/src/assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('/src/assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    @apply dark:bg-gray-900 dark:text-gray-100;
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: var(--BG-Gradient, linear-gradient(180deg, #0A0D1B 0%, #181D2C 90.25%));
}

nav#mobile-menu {
    height: 100vh;
}
.title-font {
    font-family: 'Inter-Bold', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* ============ HERO BANNER SECTION ============ */
#hero-banner {
    padding-top: 5rem !important;
}

.bg-tagline {
    background-image: linear-gradient(-45deg, #8C5EF6 , #3FDBFF 100%);
}

.main-title{
    color: #8C5EF6;
    background-image: linear-gradient(45deg, #8C5EF6 , #3FDBFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 500px;
}

.content-herobanner {
    width: min-content;
}

/* ============ CTA SECTION ============ */
.content-cta {
    width: min-content;
}
.cta-title {
    width: 550px;
}

.img-cta img{
    width: 170px;
    max-width: 100%;
}

.last-section{
    background-image: url(/images/content/bible.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: auto;
    height: 600px;
}

/* ============ ABOUT SECTION ============ */
.img-pray img{
    max-width: 530px;
    width: 100%;
}

.item-about-desc {
    max-width: 480px;
}

.about-desc {
    max-width: 500px;
}

/* .very-soon{
    filter: opacity(0.25);
    cursor: wait;
} */

/* ============ MEDIA QUERIES START HERE! ============ */
@media (max-width: 768px) {
    .img-cta img{
        width: 170px;
        max-width: 100%;
    }
    #hero-banner {
        padding-top: 7rem !important;
    }
    .main-title {
        width: 370px;
    }

    .content-herobanner {
        width: fit-content;
    }

    .cta-title {
        width: 380px;
    }
}
