@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply dark:bg-gray-900 dark:text-gray-100;
}

.last-section{
    background-image: url(src/images/content/bible.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body {
    background: var(--BG-Gradient, linear-gradient(180deg, #0A0D1B 0%, #181D2C 90.25%));
}